.collection-description {
    padding: 10px;
    width: 650px;
    border-radius: 6px;
    border: 1px solid black;

}

.collection-description__textarea{
    margin-top: 20px;
    margin-bottom: 10px;

}

.form {
    display: block;
    justify-content: center;
    align-items: center;
}

.item {
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    border: 1px solid black;
    width: 650px;

}
.item__field{
    padding-bottom: 15px;
}

.item__name{
    padding-bottom: 15px;
}
.create-field-form-element {
    padding-bottom: 7px;
    padding-top: 7px;
}

